* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.header, .footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    margin-top: 50px;
}
.container-list {
    width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.actions a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}
.actions a:hover {
    text-decoration: underline;
}
.pagination {
    margin-top: 10px;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 5px;
}
.pagination a:hover {
    background-color: #007bff;
    color: white;
}